// 들여쓰기가 중요

html
  head
    title= _title
    body
      h1 Hello Template & Jade
      ul
        -for(var i = 0 ; i < 5 ; i++)  //  코드 앞에 -를 붙여줘야함
          li coding
      div= time
      // 변수는 앞에 =, time은 jade에 접근하는 외부 express 파일에서 정의
